<h1> Meetup Index </h1>

<ul>
<<<<<<< HEAD
<% @meetups_list.each do |meetup| %>
<li> <%=  meetup.name  %></li>
<li> <%= meetup.link %> </li>
=======
<% @meetups.each do |meetup| %>
<li> <%=  meetup.name  %></li>

>>>>>>> 56f318124505b12e97e6cbf7d5d6ce9ce884aee2
<li> <%= meetup.lat %> </li>
</ul>
<%end%>
