<div class="top-color">
  <h2 class="topple-bar"> Welcome to the Community ! </h2>
<header  class="hero-text-box">
  <div>
  <a href="/">
    <img src="<%= asset_path('community-services.jpg') %>">
  </a>
</div>

  <div class="bottom-color">
    <a href="#" class="button success">What is my Community</a> &nbsp &nbsp &nbsp
    <a href="#" class="button secondary">Join My Community</a>
  </div>
 </header>
 </div>
