<div class="description">
<h1> The Community </h1><br>

<p> The community is a place where you can post your local events to notify your neighbors, friends and family that you will have an upcoming event in which you would like for them to attend. </p> </p>
</div>
